* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
.container {
  padding-left: 90px;
}
.text-center {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 40px;
  color: #202529;
}

#formulario-producto {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.form-control {
  padding: 11px;
  width: 260px;
  border-radius: 4px;
  border: none;
}

.form-control:focus {
  border: 2px solid blue;
  outline: none;
}

#btn-crear {
  background-color: #0d6efd;
  width: 140px;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
}

.form-control {
  border: 1px solid #ccd4da;
}

table {
  width: 90%;
  border-radius: 5px;
  overflow: hidden;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
}

td {
  background-color: #f2f2f2;
}
th {
  border-bottom: 2px solid #202529;
  color: #333;
  font-weight: bold;
}

.btn {
  width: 90px;
  background-color: #198754;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #ffff;
  cursor: pointer;
}
.btn:last-child {
  background-color: #dc3545;
}

#boton-muestra-productos-eliminados {
  background-color: orange;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: white;

  &:hover {
    background-color: rgb(222, 144, 0);
  }
}

#boton-ocultar-productos-eliminados {
  background-color: brown;
  margin: 10px 0;
  border: none;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  color: white;

  &:hover {
    background-color: rgb(125, 33, 33);
  }
}

.contenedor-tabla-productos-eliminados {
  display: none;
}

#tabla-productos-eliminados {
  width: 100%;
  margin: 20px 0;
  & > thead {
    & > tr {
      border-bottom: 2px solid black;
    }
    & th {
      padding: 0.5rem 0.5rem;
      border-bottom-width: 2px;
    }
  }

  & > tbody {
    & > tr:nth-child(odd) {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.05);
    }
    & td {
      padding: 0.5rem 0.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
  }

  & #boton-restaurar-producto {
    padding: 0.375rem 0.75rem;
    color: white;
    background-color: brown;
    border: none;
    border-radius: 0.25rem;

    &:hover {
      background-color: rgb(125, 33, 33);
    }
  }
}

#search {
  width: min(100%, 500px);
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #999999;
  font-size: 18px;
}
